rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /transactions/{transactionId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /settings/{settingId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
